* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  height: 10000px;
}

/* =========Commom========== */

.container {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 20px;
  min-width: 205px;
  height: 60px;
  line-height: 60px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* =========Commom========== */

/* ========HEADER========= */
.header {
  min-height: 100vh;
  background-color: var(--header-bg);
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  position: relative;
  color: #c9d2da;
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
  position: absolute;
  left: 8px;
  top: 15px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.header-action {
  font-size: 0;
}

.header-action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  margin-right: 28px;
}

.header-action__signup {
  min-width: 104px;
  height: 44px;
  line-height: 44px;
}

/* ========END HEADER========= */

/* ===========HERO============ */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.7; /* 166.667% */
  margin: 22px 0 38px;
}

.hero__row {
  display: flex; /* khử khoảng trắng giữa 2 thẻ inline*/
  align-items: center;
}
.action__book {
  border-radius: 30px;
  margin-right: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero__media {
  width: 46%;
}

.hero__images {
  display: flex;
  align-items: center;
}

.hero__img--top {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  border-radius: 6px;
  object-fit: cover;
  z-index: 2;
}

.hero__img--bottom {
  width: 210px;
  height: 410px;
  border-radius: 6px;
  object-fit: cover;
}

/* ===========HERO============ */

/* =========Service=========== */
.service {
  margin: 170px 0;
}

.service__desc,
.service__heading {
  text-align: center;
}

.service__desc {
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  width: 468px;
  margin-top: 18px;
  margin-bottom: 70px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.service__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  display: flex;
  width: 470px;
  height: 128px;
  padding: 22px;
  margin-bottom: 21px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2e80ce;
}

.service-item__body {
  flex: 1;
  margin-left: 19px;
}

.service-item__title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 8px;
}

.action__service {
  border-radius: 30px;
  margin-top: 34px;
}

/* =========End Service=========== */

/* =========Work================ */

.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__list {
  display: flex;
  justify-content: space-between;
}
.work-item {
  width: 338px;
  height: 370px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  padding: 30px 30px 30px;
  cursor: pointer;
}

.work-item:hover {
  position: relative;
  top: -16px;
  border: 16px solid #2e80ce;
  transition: 0.25s;
}

.work-item__title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin: 18px 0 28px;
}

.work-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 254px;
  margin-bottom: 18px;
}

.work-item__link {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 400;
}

.work-item__link:hover {
  color: #2e80ce;
  font-weight: 800px;
}
/* =========End Work================ */
