* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* =========Commom========== */

.container {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 20px;
  min-width: 205px;
  height: 60px;
  line-height: 60px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* =========Commom========== */

/* ========HEADER========= */
.header {
  min-height: 100vh;
  background-color: var(--header-bg);
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  position: relative;
  color: #c9d2da;
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
  position: absolute;
  left: 8px;
  top: 15px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.action {
  font-size: 0;
}

.action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  margin-right: 28px;
}

.action__signup {
  min-width: 104px;
  height: 44px;
  line-height: 44px;
}

/* ========END HEADER========= */
